*{
    margin: 0%;
}
/* bannar part  */
header{
    height: 70vh;
    background-image: url(./images/banner/banner2.png);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bannar{
    display: flex;
    flex-direction: row-reverse;
    
}
.left{
    margin-top: 100px;
    margin-right: 120PX;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.left div h1{
    font-size: 50px;
    text-align: right;
}
.left div p{
    text-align: right;
}
/* main part */
/* ... */ 
/* top part  */
.top-part{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: 70px;
    
}
.top-part-left img{
    height: 500px;
}
.top-part-right{
    margin: 0 170px;
}
/* .top-part div ul li{
    list-style-image: url(./images/icons/images.png);
    
}
.top-part div ul li img{
    height: 5px;
    width: 5px;
} */
/* .... */


/* middle part  */

.middle-part{
    margin-top: 100px;
    margin-left:80px ;
    margin-right: 80px;
}
.middle-part div h1{
    text-align: center;
}
.plans{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20PX;
}
.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.plan p{
    font-size: 10px;
    font-weight: 100;
}